<div class="bodycontent">

	<div id="timers"></div>

</div>

<div class="sidebar">
	<div class="createtimerarea">
		<p>Create new timer:</p>
		<div id="newtimer" class="timerformbutton">+</div>
	</div>

	</br>
		
	
</div>
