<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/prettyforms.js"></script>
  <script type="text/javascript" src="/javascripts/prettytimers.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.ico"> 
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
  </head>
  <body>

    <div id="container">

      <div id="header">
        <div id="moodlogoholder"></div><!-- logoholder -->
            <div id="moodlogo"><div id="hiddenlogo"><a href="/">

            </a></div></div><!-- logo -->

          <div id="userstatus">Welcome: <%= name %></div><!-- userstatus -->
          <div id="moodmenu">
              <ul>
                  <li class="yellow"><a href="/">Your Calendar</a></li>
                  <li class="green"><a href="/search">Search Rooms</a></li>
                  <li class="purple"><a href="/logout">Logout</a></li>
              </ul>
          </div><!-- menu -->
      </div> <!-- header -->
      <div class="prettyline"></div>
      <div id="content">
        <%- body %>
      </div><!-- body -->

      <div id="footer">
      </div><!-- footer -->
       
    </div><!-- container -->

  </body>
</html>
