</br>
<h2><%= title %></h2>

<div class='login-form'>
<form name="login" action="/validatelogin" method="post" onsubmit="return validateCreate()">
	<input type="text" name="usname" placeholder="NetID" /> </br>
	<input type="password" name="password3" placeholder="Password" />
	<input type="submit" value="Login">
</form> 
</div>